body {
    font-family: 'Spectral', 'Cambria';
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: none;
    border: none;
}
.head {
    background-repeat: repeat;
    background-image: url('funky-lines.png');
    margin-top: none;
}
a {
    color: inherit;
}
h1 {
    font-family: 'Germania One', 'Cambria';
    font-size: 5vh;
    text-shadow: 1px 1px 1px #ccc;
    color: #2F3E46;
}
h1 > a{
    font-family: 'Germania One', 'Cambria';
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: 5vh;
}
h1 > a:hover {
    text-decoration:underline;
}

nav {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #84A98C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: color 0.3s ease;
}
nav ul li {
    float: left;
    flex-grow: 1;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 4vw;
    text-decoration: none;

  }
nav ul li:hover {
    background-color: #52796F;
}
ul {
    list-style-type: none;
}
table {
    justify-self: center;
}
nav ul li:has(li a:hover) {
    background-color: #52796F;
}

